---
import Base from "../layouts/base.astro";

const socials: { n: string; l: string }[] = [
  {
    n: "github",
    l: "https://github.com/purrfectionxyz",
  },
];
---

<Base>
  <h1 class="text-4xl text-accent font-semibold">
    <a href="/">purrfection.xyz</a>
  </h1>
  <p class="pt-2">
    hello. i use purrfection as a place to put my oss projects i dont want under
    my own account. kthxbye
  </p>

  <hr class="border-accent my-4" />

  <h2 class="text-2xl text-accent">socials</h2>
  <ul>
    {
      socials.map((link) => (
        <li>
          <a
            href={link.l}
            class="underline hover:bg-accent hover:text-background"
          >
            {link.n}
          </a>
        </li>
      ))
    }
  </ul>

  <hr class="border-accent my-4" />

  <h2 class="text-2xl text-accent">88x31</h2><small>(pls hotlink!)</small>
  <img src="/88x31.gif" alt="purrfection.xyz 88x31 button" />
</Base>
